@use "_media-responsive" as *;
@use "_var" as *;
section.contact {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 100px;
  h1 {
    color: var(--main-color);
    text-transform: capitalize;
    text-align: center;
    font-size: 50px;
    font-family: var(--font-title);
    letter-spacing: 7px;
    user-select: none;
    animation: scaleElements linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
  div.flex-elements {
    width: inherit;
    height: 500px;
    direction: rtl;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
    div.content {
      width: 35%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      div.email-contact {
        width: 100%;
        margin-bottom: 50px;
        animation: scaleElements linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
        h2 {
          color: #eee;
          text-align: center;
          font-size: 30px;
          font-family: var(--font-title);
          font-weight: 800;
          margin-bottom: 20px;
          direction: ltr;
        }
        a.mail {
          display: block;
          margin: auto;
          color: var(--main-color);
          text-align: center;
          text-decoration: none;
          font-size: 30px;
          width: fit-content;
          cursor: $cursor-pointer;
        }
      }
      div.parent-icons-contact {
        width: 300px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        animation: scaleElements linear;
        animation-timeline: view();
        animation-range: entry 0% cover 20%;
        span {
          a {
            margin-bottom: 50px;
            padding: 10px;
            cursor: $cursor-pointer;
            i {
              font-size: 30px;
              color: #eee;
              cursor: $cursor-pointer;
            }
          }
        }
      }
    }
    .avatar-contact {
      width: 300px;
      height: 300px;
      animation: scaleElements linear;
      animation-timeline: view();
      animation-range: entry 0% cover 40%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        transition: box-shadow 0.25s ease, transform 0.25s ease;
        box-shadow: 0 0 15px rgba(0, 173, 198, 0.5);
        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 0 35px rgba(0, 173, 198, 0.9);
        }
      }
    }
  }
  //*todo [@keyframes]
  @keyframes scaleElements {
    from {
      opacity: 0;
      scale: 0;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }
  //*todo [Responsive]
  @include respond(laptop) {
    & {
      width: 100%;
      height: 100vh;
      position: relative;
      padding-top: 50px;
      h1 {
        font-size: 40px;
        letter-spacing: 5px;
        animation-range: entry 0% cover 40%;
      }
      div.flex-elements {
        width: inherit;
        height: 60vh;
        direction: rtl;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 0px;
        div.content {
          width: 35%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-wrap: wrap;
          div.email-contact {
            width: 100%;
            margin-bottom: 33px;
            animation: scaleElements linear;
            animation-timeline: view();
            animation-range: entry 0% cover 20%;
            h2 {
              color: #eee;
              text-align: center;
              font-size: 27px;
              font-family: var(--font-title);
              font-weight: 800;
              margin-bottom: 20px;
              direction: ltr;
            }
            a.mail {
              display: block;
              color: var(--main-color);
              text-align: center;
              text-decoration: none;
              font-size: 25px;
            }
          }
          div.parent-icons-contact {
            width: 250px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            animation: scaleElements linear;
            animation-timeline: view();
            animation-range: entry 0% cover 20%;
            span {
              a {
                margin-bottom: 25px;
                padding: 10px;
                i {
                  font-size: 30px;
                  color: #eee;
                }
              }
            }
          }
        }
        .avatar-contact {
          width: 200px;
          height: 200px;
          animation: scaleElements linear;
          animation-timeline: view();
          animation-range: entry 0% cover 20%;
        }
      }
    }
  }
  @include respond(ipadPro) {
    & {
      width: 100%;
      height: 100vh;
      position: relative;
      padding-top: 100px;
      h1 {
        font-size: 50px;
        letter-spacing: 7px;
        animation-range: entry 0% cover 30%;
      }
      div.flex-elements {
        width: inherit;
        height: 70vh;
        margin-top: 0px;
        padding-inline: 5%;
        div.content {
          width: 70%;
          div.email-contact {
            width: 100%;
            margin-bottom: 33px;
            animation-range: entry 0% cover 20%;
            h2 {
              font-size: 40px;
              font-weight: 800;
              margin-bottom: 20px;
            }
            a.mail {
              font-size: 40px;
            }
          }
          div.parent-icons-contact {
            width: 400px;
            transform: translateY(50%);
            animation-range: entry 0% cover 10%;
            span {
              a {
                margin-bottom: 25px;
                padding: 10px;
                i {
                  font-size: 45px;
                  color: #eee;
                  margin-inline: 15px;
                }
              }
            }
          }
        }
        .avatar-contact {
          width: 400px;
          height: 400px;
          animation-range: entry 0% cover 40%;
        }
      }
    }
  }
  @include respond(tablet) {
    & {
      width: 100%;
      height: 100vh;
      position: relative;
      padding-top: 100px;
      h1 {
        font-size: 50px;
        letter-spacing: 7px;
        animation-range: entry 0% cover 30%;
      }
      div.flex-elements {
        width: inherit;
        height: 70vh;
        margin-top: 0px;
        padding-inline: 5%;
        div.content {
          width: 70%;
          div.email-contact {
            width: 100%;
            margin-bottom: 33px;
            animation-range: entry 0% cover 20%;
            h2 {
              font-size: 35px;
              font-weight: 800;
              margin-bottom: 20px;
            }
            a.mail {
              font-size: 33px;
            }
          }
          div.parent-icons-contact {
            width: 350px;
            transform: translateY(50%);
            animation-range: entry 0% cover 10%;
            span {
              a {
                margin-bottom: 25px;
                padding: 10px;
                i {
                  font-size: 35px;
                  color: #eee;
                  margin-inline: 10px;
                }
              }
            }
          }
        }
        .avatar-contact {
          width: 300px;
          height: 300px;
          animation-range: entry 0% cover 40%;
        }
      }
    }
  }
  @include respond(fold-mobile) {
    & {
      width: 100%;
      height: 100vh;
      position: relative;
      padding-top: 50px;
      margin-bottom: 100px;
      h1 {
        font-size: 40px;
        letter-spacing: 5px;
        animation-range: entry 0% cover 30%;
      }
      div.flex-elements {
        width: inherit;
        height: 60vh;
        margin-top: 0px;
        padding-inline: 5%;
        div.content {
          width: 70%;
          div.email-contact {
            width: 100%;
            margin-bottom: 27px;
            animation-range: entry 0% cover 20%;
            h2 {
              font-size: 27px;
              font-weight: 800;
              margin-bottom: 20px;
            }
            a.mail {
              font-size: 25px;
            }
          }
          div.parent-icons-contact {
            width: 300px;
            transform: translateY(50%);
            animation-range: entry 0% cover 10%;
            span {
              a {
                margin-bottom: 25px;
                padding: 10px;
                i {
                  font-size: 25px;
                  color: #eee;
                  margin-inline: 5px;
                }
              }
            }
          }
        }
        .avatar-contact {
          width: 250px;
          height: 250px;
          animation-range: entry 0% cover 40%;
        }
      }
    }
  }
  @include respond(small-mobile) {
    & {
      width: 100%;
      height: 100vh;
      position: relative;
      padding-top: 50px;
      margin-bottom: 50px;
      h1 {
        font-size: 40px;
        letter-spacing: 5px;
        animation-range: entry 0% cover 30%;
      }
      div.flex-elements {
        width: inherit;
        height: 60vh;
        margin-top: 0px;
        padding-inline: 5%;
        div.content {
          width: 90%;
          div.email-contact {
            width: 100%;
            margin-bottom: 22px;
            animation-range: entry 0% cover 20%;
            h2 {
              font-size: 25px;
              font-weight: 800;
              margin-bottom: 20px;
            }
            a.mail {
              font-size: 22px;
            }
          }
          div.parent-icons-contact {
            width: 233px;
            transform: translateY(50%);
            animation-range: entry 0% cover 10%;
            span {
              a {
                margin-bottom: 25px;
                padding: 10px;
                i {
                  font-size: 25px;
                  color: #eee;
                  margin-inline: 5px;
                }
              }
            }
          }
        }
        .avatar-contact {
          width: 220px;
          height: 220px;
          animation-range: entry 0% cover 40%;
        }
      }
    }
  }
  @include respond(very-small-mobile) {
    & {
      width: 100%;
      height: 100vh;
      position: relative;
      padding-top: 50px;
      margin-bottom: 50px;
      h1 {
        font-size: 35px;
        letter-spacing: 5px;
        animation-range: entry 0% cover 30%;
      }
      div.flex-elements {
        width: inherit;
        height: 66vh;
        margin-top: 0px;
        padding-inline: 5%;
        div.content {
          width: 90%;
          div.email-contact {
            width: 100%;
            margin-bottom: 15px;
            animation-range: entry 0% cover 20%;
            h2 {
              font-size: 22px;
              font-weight: 800;
              margin-bottom: 15px;
            }
            a.mail {
              font-size: 20px;
            }
          }
          div.parent-icons-contact {
            width: 200px;
            transform: translateY(50%);
            animation-range: entry 0% cover 10%;
            span {
              a {
                margin-bottom: 25px;
                padding: 10px;
                i {
                  font-size: 20px;
                  color: #eee;
                  margin-inline: 3px;
                }
              }
            }
          }
        }
        .avatar-contact {
          width: 200px;
          height: 200px;
          animation-range: entry 0% cover 40%;
        }
      }
    }
  }
}
