@use "_media-responsive" as *;
@use "_var" as *;
/*! start header */
header {
  width: 100%;
  height: 70px;
  position: relative;
  position: fixed;
  z-index: 1100;
  background-color: #1a0b2e;
  animation: nav-bar 1s linear;
  display: flex;
  align-items: center;
  .logo_m {
    width: 30px;
    height: 30px;
    user-select: none;
    position: absolute;
    left: 5%;
  }
  .icon_vector {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 35%;
    right: 5%;
    cursor: $cursor-pointer;
    span {
      display: block;
      margin-bottom: 7px;
      border-radius: 15px;
      background-color: #ffffff;
      transition: all 0.3s ease;
      cursor: inherit;
      &:first-child {
        width: 35%;
        height: 3px;
        position: relative;
        left: 0;
      }
      &:nth-child(2) {
        width: 100%;
        height: 3px;
      }
      &:last-child {
        width: 35%;
        height: 3px;
        position: absolute;
        right: 0;
      }
    }
  }
  .icon_vector {
    &.active span {
      margin-bottom: 0;
      cursor: $cursor-pointer;
      &:first-child {
        rotate: 45deg;
        width: 55%;
        position: absolute;
        top: 25%;
        left: 5%;
      }
      &:nth-child(2) {
        rotate: -45deg;
        position: absolute;
        top: 40%;
        left: 3%;
      }
      &:last-child {
        rotate: 45deg;
        width: 50%;
        position: absolute;
        top: 58%;
        right: 5%;
      }
    }
  }
  //*todo [Active]
  /** Active */
  @keyframes nav-bar {
    from {
      opacity: 0;
      transform: translatey(-100%);
    }
    to {
      opacity: 1;
      transform: translatey(0%);
    }
  }
  //*todo ---------- Responsive ----------
  /*todo [Responsive] */
  @include respond(laptop) {
    & {
      height: 60px;
    }
    &:has(.icon_vector.active) {
      background: transparent;
      border-bottom: solid 1px #fff;
      height: 60px;
    }
  }
  @include respond(ipadPro) {
    &:has(.icon_vector.active) {
      background: transparent;
      border-bottom: solid 1px #fff;
    }
  }
  @include respond(tablet) {
    &:has(.icon_vector.active) {
      background: transparent;
      border-bottom: solid 1px #fff;
    }
  }
  @include respond(fold-mobile) {
    & {
      height: 60px;
      .logo_m {
        width: 25px;
        height: 25px;
        
        position: absolute;
        left: 5%;
      }
      .icon_vector {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 35%;
        right: 5%;
        span {
          &:first-child {
            width: 35%;
            height: 3px;
            position: relative;
            left: 0;
          }
          &:nth-child(2) {
            width: 100%;
            height: 3px;
          }
          &:last-child {
            width: 35%;
            height: 3px;
            position: absolute;
            right: 0;
          }
        }
      }
    }
    &:has(.icon_vector.active) {
      background: transparent;
      border-bottom: solid 1px #fff;
      height: 60px;
    }
  }
  @include respond(small-mobile) {
    & {
      width: 100vw;
      height: 60px;
      .logo_m {
        width: 25px;
        height: 25px;
        
        position: absolute;
        left: 5%;
      }
      .icon_vector {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 35%;
        right: 5%;
        span {
          &:first-child {
            width: 35%;
            height: 3px;
            position: relative;
            left: 0;
          }
          &:nth-child(2) {
            width: 100%;
            height: 3px;
          }
          &:last-child {
            width: 35%;
            height: 3px;
            position: absolute;
            right: 0;
          }
        }
      }
    }
    &:has(.icon_vector.active) {
      background: transparent;
      border-bottom: solid 1px #fff;
      height: 60px;
    }
  }
  @include respond(very-small-mobile) {
    & {
      height: 50px;
      .logo_m {
        width: 25px;
        height: 25px;
        position: absolute;
        left: 5%;
        scale: 0.8;
      }
      .icon_vector {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 27%;
        right: 5%;
        scale: 0.8;
        span {
          &:first-child {
            width: 35%;
            height: 3px;
            position: relative;
            left: 0;
          }
          &:nth-child(2) {
            width: 100%;
            height: 3px;
          }
          &:last-child {
            width: 35%;
            height: 3px;
            position: absolute;
            right: 0;
          }
        }
      }
    }
    &:has(.icon_vector.active) {
      background: transparent;
      border-bottom: solid 1px #fff;
      height: 50px;
    }
  }
}
/*! start body */
/** container_sections_options */
div.container_sections_options {
  display: none;
}
/*! active */
div.container_sections_options.active {
  display: block;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg, #1e0033, #43186e, #0f0f3d, #240046);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  position: fixed;
  z-index: 999;
  .parent_sections_options {
    width: 100%;
    height: 100%;
    padding-top: 150px;
    .section_option {
      animation: link 1s linear;
      margin-bottom: 0px;
      a {
        width: fit-content;
        color: #fff;
        font-size: 35px;
        font-family: var(--main-font);
        text-transform: capitalize;
        display: block;
        margin: auto;
        padding: 10px;
        margin-bottom: 50px;
        text-align: center;
        font-weight: 500;
        letter-spacing: 7px;
        transition: 0.2s ease-in;
        &:hover {
          text-shadow: 0 0 10px #ffffff;
          cursor: $cursor-pointer;
          scale: 1.05;
        }
      }
    }
  }
  //* ------------
  @keyframes link {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  //* -------
  @include respond(laptop) {
    .parent_sections_options {
      padding-top: 80px;
      .section_option {
        margin-bottom: 0px;
        a {
          font-size: 25px;
          padding: 15px 20px;
          margin-bottom: 15px;
          font-weight: 500;
          letter-spacing: 7px;
          &:hover {
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.466);
          }
        }
      }
    }
  }
  @include respond(ipadPro) {
    .parent_sections_options {
      padding-top: 200px;
      .section_option {
        margin-bottom: 0px;
        a {
          font-size: 50px;
          padding: 30px;
          margin-bottom: 30px;
          font-weight: 400;
          letter-spacing: 7px;
          &:hover {
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.466);
          }
        }
      }
    }
  }
  @include respond(tablet) {
    .parent_sections_options {
      padding-top: 160px;
      .section_option {
        margin-bottom: 0px;
        a {
          font-size: 40px;
          padding: 25px;
          margin-bottom: 30px;
          font-weight: 400;
          letter-spacing: 7px;
          &:hover {
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.466);
          }
        }
      }
    }
  }
  @include respond(fold-mobile) {
    .parent_sections_options {
      padding-top: 120px;
      .section_option {
        margin-bottom: 0px;
        a {
          font-size: 30px;
          padding: 20px;
          margin-bottom: 20px;
          font-weight: 400;
          letter-spacing: 7px;
          &:hover {
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.466);
          }
        }
      }
    }
  }
  @include respond(small-mobile) {
    .parent_sections_options {
      padding-top: 140px;
      .section_option {
        margin-bottom: 0px;
        a {
          font-size: 30px;
          padding: 20px;
          margin-bottom: 20px;
          font-weight: 400;
          letter-spacing: 5px;
          &:hover {
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.466);
          }
        }
      }
    }
  }
  @include respond(very-small-mobile) {
    .parent_sections_options {
      padding-top: 100px;
      .section_option {
        margin-bottom: 0px;
        a {
          font-size: 25px;
          padding: 15px;
          margin-bottom: 15px;
          font-weight: 400;
          letter-spacing: 5px;
          &:hover {
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.466);
          }
        }
      }
    }
  }
}
