//* ---------------- Mixin for media ----------------
@mixin respond($break) {
  @if $break == laptop {
    @media (min-width: 993px) and (max-width: 1200px) and (orientation: landscape) {
      @content;
    }
  } @else if $break == ipadPro {
    @media (min-width: 994px) and (max-width: 1366px) and (orientation: portrait) {
      @content;
    }
  } @else if $break == tablet {
    @media (min-width: 769px) and (max-width: 992px) {
      @content;
    }
  } @else if $break == fold-mobile {
    @media (min-width: 481px) and (max-width: 768px) {
      @content;
    }
  } @else if $break == small-mobile {
    @media (min-width: 390px) and  (max-width: 480px) {
      @content;
    }
  } @else if $break == iphone-12 {
    @media (min-width: 390px) and  (max-width: 411px) and (max-height: 844px) {
      @content;
    }
  } @else if $break == very-small-mobile {
    @media (min-width: 360px) and (max-width: 389px) and (max-height: 740px) {
      @content;
    }
  }
}
