/** start general code */
@use "_var" as * ;
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap");

:root {
  --section-color: #4444466c;
  --main-color: #00adc6;
  --background-color: #11071f;
  --footer-color: #2c4755;
  --color-for-backlight: #763cac;
  --main-font: "Raleway", serif;
  --italic-font: "Dancing Script", serif;
  --font-title: "Comic Neue", sans-serif;
  --arabic-font: "Noto Nastaliq Urdu", serif;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: $cursor-default;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
  background-color: var(--background-color);
}
body {
  background-color: var(--background-color);
  overflow-x: hidden;
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
