section.work {
  width: 100%;
  height: 100vh;
  position: relative;
}
section.work .back_light {
  background-color: var(--color-for-backlight);
  width: 1px;
  height: 1px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 250px 180px #763cac;
          box-shadow: 0 0 250px 180px #763cac;
  position: absolute;
  top: 50%;
  left: 50%;
}
section.work h1 {
  font-size: 30px;
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  position: absolute;
  top: 18%;
  left: 27%;
  font-family: var(--font-title);
  -webkit-animation: scale-h1 linear;
          animation: scale-h1 linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
section.work section.cards {
  width: 930px;
  margin: auto;
  position: relative;
  top: 25%;
  background-color: transparent;
  -webkit-animation: scale-work linear;
          animation: scale-work linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
section.work section.cards div {
  width: 450px;
  height: 200px;
  border-top: var(--color-for-backlight) solid 2px;
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: var(--background-color);
}
section.work section.cards div a {
  cursor: url("../../photos/pointer_32.png"), auto;
}
section.work section.cards div:first-child {
  background: linear-gradient(50deg, #130428 7%, #251043 34%, #38126d 57%, #261045 85%, #190634 100%);
}
section.work section.cards div:first-child img {
  width: 100px;
  height: 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 8%;
  left: 1%;
}
section.work section.cards div:first-child h4 {
  font-size: 25px;
  font-weight: 400;
  font-family: var(--font-title);
  text-transform: capitalize;
  color: white;
  position: absolute;
  top: 9%;
  left: 12%;
}
section.work section.cards div:first-child p {
  width: 300px;
  color: white;
  text-transform: capitalize;
  font-family: var(--main-font);
  font-size: 15px;
  line-height: 1.4rem;
  position: absolute;
  top: 18%;
  left: 12%;
}
section.work section.cards div:first-child a {
  display: block;
  width: 100px;
  height: 30px;
  padding-top: 5px;
  border: solid 2px var(--color-for-backlight);
  border-radius: 10px;
  color: white;
  text-align: center;
  text-transform: capitalize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 36%;
  left: 18%;
}
section.work section.cards div:nth-child(2) {
  background: linear-gradient(325deg, #130428 0%, #251043 25%, #38126d 50%, #261045 75%, #190634 100%);
}
section.work section.cards div:nth-child(2) img {
  width: 90px;
  height: 90px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 65%;
  left: 1%;
}
section.work section.cards div:nth-child(2) h4 {
  font-size: 25px;
  font-weight: 400;
  font-family: var(--font-title);
  text-transform: capitalize;
  color: white;
  position: absolute;
  top: 60%;
  left: 12%;
}
section.work section.cards div:nth-child(2) p {
  width: 300px;
  color: white;
  text-transform: capitalize;
  font-family: var(--main-font);
  font-size: 15px;
  line-height: 1.4rem;
  position: absolute;
  top: 68%;
  left: 12%;
}
section.work section.cards div:nth-child(2) a {
  display: block;
  width: 100px;
  height: 30px;
  padding-top: 5px;
  border: solid 2px var(--color-for-backlight);
  border-radius: 10px;
  color: white;
  text-align: center;
  text-transform: capitalize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  bottom: 2%;
  left: 18%;
}
section.work section.cards div:nth-child(3) {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(325deg, #130428 10%, #251043 30%, #38126d 45%, #261045 70%, #190634 90%);
}
section.work section.cards div:nth-child(3) img {
  width: 95px;
  height: 95px;
  position: absolute;
  top: 20%;
  left: 1%;
}
section.work section.cards div:nth-child(3) h4 {
  font-size: 25px;
  font-weight: 400;
  font-family: var(--font-title);
  text-transform: capitalize;
  color: white;
  position: absolute;
  top: 13%;
  left: 25%;
}
section.work section.cards div:nth-child(3) p {
  width: 300px;
  color: white;
  text-transform: capitalize;
  font-family: var(--main-font);
  font-size: 15px;
  line-height: 1.4rem;
  position: absolute;
  top: 30%;
  left: 25%;
}
section.work section.cards div:nth-child(3) a {
  display: block;
  width: 100px;
  height: 30px;
  padding-top: 5px;
  border: solid 2px var(--color-for-backlight);
  border-radius: 10px;
  color: white;
  text-align: center;
  text-transform: capitalize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  bottom: 5%;
  left: 37%;
}
section.work section.cards div:last-child {
  position: absolute;
  right: 0;
  bottom: -30px;
  background: linear-gradient(50deg, #130428 10%, #251043 30%, #38126d 45%, #261045 70%, #190634 90%);
}
section.work section.cards div:last-child img {
  width: 95px;
  height: 95px;
  position: absolute;
  top: 20%;
  left: 1%;
}
section.work section.cards div:last-child h4 {
  font-size: 25px;
  font-weight: 400;
  font-family: var(--font-title);
  text-transform: capitalize;
  color: white;
  position: absolute;
  top: 13%;
  left: 25%;
}
section.work section.cards div:last-child p {
  width: 300px;
  color: white;
  text-transform: capitalize;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.6rem;
  position: absolute;
  top: 30%;
  left: 25%;
}
section.work section.cards div:last-child a {
  display: block;
  width: 100px;
  height: 30px;
  padding-top: 5px;
  border: solid 2px var(--color-for-backlight);
  border-radius: 10px;
  color: white;
  text-align: center;
  text-transform: capitalize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  bottom: 5%;
  left: 37%;
}
@-webkit-keyframes scale-h1 {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
@keyframes scale-h1 {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
@-webkit-keyframes scale-work {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes scale-work {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@media (min-width: 993px) and (max-width: 1200px) and (orientation: landscape) {
  section.work {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  section.work .back_light {
    background-color: var(--color-for-backlight);
    width: 1px;
    height: 1px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 180px 130px #763cac;
            box-shadow: 0 0 180px 130px #763cac;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  section.work h1 {
    font-size: 30px;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 12%;
    left: 15%;
  }
  section.work section.cards {
    top: 15%;
    scale: 0.8;
  }
}
@media (min-width: 994px) and (max-width: 1366px) and (orientation: portrait) {
  section.work {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  section.work .back_light {
    background-color: var(--color-for-backlight);
    width: 1px;
    height: 1px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 250px 180px #763cac;
            box-shadow: 0 0 250px 180px #763cac;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  section.work h1 {
    font-size: 30px;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    position: absolute;
    top: 28%;
    left: 8%;
    font-family: var(--font-title);
  }
  section.work section.cards {
    top: 33%;
  }
  section.work section.cards div:last-child a {
    left: 39%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  section.work {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  section.work h1 {
    width: 100%;
    text-align: center;
    top: 5%;
    left: 0%;
    -webkit-animation: none;
            animation: none;
  }
  section.work section.cards {
    width: 55%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    position: relative;
    top: 25%;
    -webkit-animation: none;
            animation: none;
  }
  section.work section.cards div {
    width: 450px;
    height: 200px;
  }
  section.work section.cards div:first-child {
    -webkit-transform: translateY(-73%);
            transform: translateY(-73%);
  }
  section.work section.cards div:first-child img {
    top: 20%;
    left: 1%;
  }
  section.work section.cards div:first-child h4 {
    top: 18%;
    left: 22%;
  }
  section.work section.cards div:first-child p {
    top: 40%;
    left: 22%;
  }
  section.work section.cards div:first-child a {
    top: 77%;
    left: 39%;
  }
  section.work section.cards div:nth-child(2) {
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
  }
  section.work section.cards div:nth-child(2) img {
    top: 20%;
  }
  section.work section.cards div:nth-child(2) h4 {
    top: 15%;
    left: 22%;
  }
  section.work section.cards div:nth-child(2) p {
    top: 33%;
    left: 22%;
  }
  section.work section.cards div:nth-child(2) a {
    bottom: 7%;
    left: 39%;
  }
  section.work section.cards div:nth-child(3) {
    -webkit-transform: translateY(163%);
            transform: translateY(163%);
  }
  section.work section.cards div:nth-child(3) a {
    left: 40%;
  }
  section.work section.cards div:last-child {
    -webkit-transform: translateY(168%);
            transform: translateY(168%);
  }
  section.work section.cards div:last-child a {
    left: 40%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  section.work {
    width: 100%;
    height: 133vh;
    position: relative;
  }
  section.work h1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
    top: 5%;
    left: 0%;
    -webkit-animation: none;
            animation: none;
  }
  section.work section.cards {
    width: 66%;
    margin: auto;
    position: relative;
    top: 28%;
    -webkit-animation: none;
            animation: none;
  }
  section.work section.cards div {
    width: 450px;
    height: 200px;
  }
  section.work section.cards div:first-child {
    -webkit-transform: translateY(-73%);
            transform: translateY(-73%);
  }
  section.work section.cards div:first-child img {
    top: 20%;
    left: 1%;
  }
  section.work section.cards div:first-child h4 {
    top: 18%;
    left: 22%;
  }
  section.work section.cards div:first-child p {
    top: 40%;
    left: 22%;
  }
  section.work section.cards div:first-child a {
    top: 77%;
    left: 39%;
  }
  section.work section.cards div:nth-child(2) {
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
  }
  section.work section.cards div:nth-child(2) img {
    top: 20%;
  }
  section.work section.cards div:nth-child(2) h4 {
    top: 15%;
    left: 22%;
  }
  section.work section.cards div:nth-child(2) p {
    top: 33%;
    left: 22%;
  }
  section.work section.cards div:nth-child(2) a {
    bottom: 7%;
    left: 39%;
  }
  section.work section.cards div:nth-child(3) {
    -webkit-transform: translateY(163%);
            transform: translateY(163%);
  }
  section.work section.cards div:nth-child(3) a {
    left: 40%;
  }
  section.work section.cards div:last-child {
    -webkit-transform: translateY(168%);
            transform: translateY(168%);
  }
  section.work section.cards div:last-child a {
    left: 40%;
  }
}
@media (min-width: 390px) and (max-width: 480px) {
  section.work {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
  }
  section.work h1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
    top: 5%;
    left: 0%;
    -webkit-animation: none;
            animation: none;
  }
  section.work section.cards {
    width: 100%;
    height: 100%;
    scale: 0.8;
    position: relative;
    top: 3%;
    -webkit-animation: none;
            animation: none;
    background-color: red;
    border: 2px solid #fff;
  }
  section.work section.cards div {
    width: 450px;
    height: 200px;
    scale: 0.9;
    position: absolute;
    left: -3%;
  }
  section.work section.cards div:first-child {
    top: 16%;
    -webkit-transform: translateY(-73%);
            transform: translateY(-73%);
  }
  section.work section.cards div:first-child img {
    top: 20%;
    left: 1%;
  }
  section.work section.cards div:first-child h4 {
    top: 18%;
    left: 22%;
  }
  section.work section.cards div:first-child p {
    top: 40%;
    left: 22%;
  }
  section.work section.cards div:first-child a {
    top: 77%;
    left: 39%;
  }
  section.work section.cards div:nth-child(2) {
    top: 40%;
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
  }
  section.work section.cards div:nth-child(2) img {
    top: 20%;
  }
  section.work section.cards div:nth-child(2) h4 {
    top: 15%;
    left: 22%;
  }
  section.work section.cards div:nth-child(2) p {
    top: 33%;
    left: 22%;
  }
  section.work section.cards div:nth-child(2) a {
    bottom: 7%;
    left: 39%;
  }
  section.work section.cards div:nth-child(3) {
    top: 19%;
    -webkit-transform: translateY(163%);
            transform: translateY(163%);
  }
  section.work section.cards div:nth-child(3) a {
    left: 40%;
  }
  section.work section.cards div:last-child {
    top: 42%;
    -webkit-transform: translateY(168%);
            transform: translateY(168%);
  }
  section.work section.cards div:last-child a {
    left: 40%;
  }
}
@media (min-width: 388px) and (max-width: 411px) and (max-height: 844px) {
  section.work {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  section.work h1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
    top: 5%;
    left: 0%;
    -webkit-animation: none;
            animation: none;
  }
  section.work section.cards {
    width: 100%;
    height: 100%;
    scale: 0.8;
    position: relative;
    top: 3%;
    -webkit-animation: none;
            animation: none;
  }
  section.work section.cards div {
    width: 450px;
    height: 200px;
    scale: 0.8;
    position: absolute;
    left: -8%;
  }
  section.work section.cards div:first-child {
    top: 16%;
    -webkit-transform: translateY(-73%);
            transform: translateY(-73%);
  }
  section.work section.cards div:first-child img {
    top: 20%;
    left: 1%;
  }
  section.work section.cards div:first-child h4 {
    top: 18%;
    left: 22%;
  }
  section.work section.cards div:first-child p {
    top: 40%;
    left: 22%;
  }
  section.work section.cards div:first-child a {
    top: 77%;
    left: 39%;
  }
  section.work section.cards div:nth-child(2) {
    top: 40%;
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
  }
  section.work section.cards div:nth-child(2) img {
    top: 20%;
  }
  section.work section.cards div:nth-child(2) h4 {
    top: 15%;
    left: 22%;
  }
  section.work section.cards div:nth-child(2) p {
    top: 33%;
    left: 22%;
  }
  section.work section.cards div:nth-child(2) a {
    bottom: 7%;
    left: 39%;
  }
  section.work section.cards div:nth-child(3) {
    top: 19%;
    -webkit-transform: translateY(163%);
            transform: translateY(163%);
  }
  section.work section.cards div:nth-child(3) a {
    left: 40%;
  }
  section.work section.cards div:last-child {
    top: 42%;
    -webkit-transform: translateY(168%);
            transform: translateY(168%);
  }
  section.work section.cards div:last-child a {
    left: 40%;
  }
}
@media (max-width: 480px) and (max-height: 712px) {
  section.work {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  section.work h1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
    top: 1%;
    left: 0%;
    -webkit-animation: none;
            animation: none;
  }
  section.work section.cards {
    width: 100%;
    height: 110%;
    scale: 0.8;
    position: relative;
    top: 1%;
    -webkit-animation: none;
            animation: none;
  }
  section.work section.cards div {
    width: 450px;
    height: 200px;
    scale: 0.8;
    position: absolute;
    left: -10.5%;
  }
  section.work section.cards div:first-child {
    top: 13%;
    -webkit-transform: translateY(-73%);
            transform: translateY(-73%);
  }
  section.work section.cards div:first-child img {
    top: 20%;
    left: 1%;
  }
  section.work section.cards div:first-child h4 {
    top: 18%;
    left: 22%;
  }
  section.work section.cards div:first-child p {
    top: 40%;
    left: 22%;
  }
  section.work section.cards div:first-child a {
    top: 77%;
    left: 39%;
  }
  section.work section.cards div:nth-child(2) {
    top: 38%;
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
  }
  section.work section.cards div:nth-child(2) img {
    top: 20%;
  }
  section.work section.cards div:nth-child(2) h4 {
    top: 15%;
    left: 22%;
  }
  section.work section.cards div:nth-child(2) p {
    top: 33%;
    left: 22%;
  }
  section.work section.cards div:nth-child(2) a {
    bottom: 7%;
    left: 39%;
  }
  section.work section.cards div:nth-child(3) {
    top: 13%;
    -webkit-transform: translateY(163%);
            transform: translateY(163%);
  }
  section.work section.cards div:nth-child(3) a {
    left: 40%;
  }
  section.work section.cards div:last-child {
    top: 38%;
    -webkit-transform: translateY(168%);
            transform: translateY(168%);
  }
  section.work section.cards div:last-child a {
    left: 40%;
  }
}