/*! Start Sections In Body */
// Import all partials
@use "_root" as * ;
@use "_header" as * ;
@use "_home-section" as * ;
@use "_career-objective-section" as * ;
@use "_skills-section" as * ;
@use "_work-section" as * ;
@use "_education-section" as * ;
@use "_languages-section" as * ;
@use "_contact-section" as * ;
@use "_footer-section" as * ;
